bower_components
node_modules
.DS_Store
.project
coverage.html
target/urf.war
target/maven-archiver/pom.properties
target/urf/app.jsp
target/urf/images/logo.png
target/urf/images/logo@2x.png
target/urf/images/mock/urf-prompt.png
target/urf/META-INF/MANIFEST.MF
target/urf/WEB-INF/CSRFError.jsp
target/urf/WEB-INF/csrfguard.tld
target/urf/WEB-INF/jboss-deployment-structure.xml
target/urf/WEB-INF/Owasp.CsrfGuard.js
target/urf/WEB-INF/Owasp.CsrfGuard.properties
target/urf/WEB-INF/web.xml
target/urf/WEB-INF/lib/csrfguard-3.0.0.jar
target/urf/WEB-INF/views/encrypt.jsp
target/urf/WEB-INF/views/error.jsp
.classpath
.tern-project
/target/
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
.settings/org.sonar.ide.eclipse.core.prefs
.classpath
.tern-project
